<!DOCTYPE html>
<html>
  <head>
    <style>
	html{
	 height:100%; 
	}
	body{
	 height:100%;
	 margin:0;
	}
       #map {
        height: 100%;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <link rel=stylesheet type="text/css" href="/css/nearby_search.css">
    <script src="/js/underscore.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/index.js"></script>
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl2EfOePJUj5HmEjhGMvfLgoF1EFDghM0&libraries=places">
    </script>

    <div id="place-info-wrapper">
            <div id="hero-header-wrapper"><img></img></div>
            <div id="place-basic-info-wrapper">
                <div id="place-basic-info">
                    <div class="place-name info-text"></div>
                    <div class="place-review-score info-text"></div>
                    <div class="place-type info-text"></div>
                </div>
            </div>
     </div> 
  </body>
</html>
